.title { font-size: 30px; color: #fa9746;margin-bottom: 30px;position: relative; text-align: center;}

.services .serv h5 {color: #fa9746;}
.services .serv p {color: #777;}
.services .serv hr {
  width: 30px;
  border-top: 3px solid rgb(236, 186, 212);
}
.row{
display: inline;
text-align: center;
padding-left: 280px;
padding-top: 50px;

}
.serv {
  
  height: 150px;
  width: 150px;
  display: inline-block;
  align-items: center;
 
  margin: 80px auto 40px; 
  position: relative;
  border-radius: 15px;
  transform: rotate(45deg);
  padding: 15px;
  background-color:rgb(121, 62, 240);
  box-shadow: 0px 0px 27px 0px #ccc;
  border: 2px dotted #eaf3fa;
}
body {
    background-color:rgb(139, 118, 167);
}